{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pioneer Alpha | SignUp</title>
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome  -->
    <script src="https://kit.fontawesome.com/fb93ded780.js" crossorigin="anonymous"></script>
    <!-- custom css  -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <section>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
                <!-- left part  -->
                <div class="col-lg-7 left-part d-flex justify-content-center align-items-center">
                    <img src="{% static '/images/log_in.png' %}" class="img-fluid" alt="">
                </div>
                <!-- right part  -->
                <div class="col-lg-5">
                    <div class="login-form d-flex flex-column justify-content-center align-items-center">
                        <img src="{% static 'images/logo.png' %}" class="pioneer-logo" alt="">
                        <p>Explore new courses... Hurry up!!</p>
                        <input type="email" name="email" placeholder="Email Address">
                        <input type="password" name="password" placeholder="Password">
                        <div class='d-flex justify-content-end forget-text'>
                            <small>Forget Password</small>
                        </div>
                        <input type="button" value="Login" class="btn btn-login">
                        <div class="d-flex justify-content-center align-items-center my-3">
                            <div class='bar'></div>
                            <div class='mx-3'>or</div>
                            <div class='bar'></div>
                        </div>

                        <div class="social-icon">
                            <img class="facebook-img mx-2" src="{% static 'images/Facebook-logo.png' %}" alt="">
                            <img class="google-img mx-2" src="{% static 'images/google.png' %}" alt="">
                        </div>
                        <p class="signup-text my-2">Don't have an account? <a href="">Sign Up</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>